body{
  font-family:Arial;
  background:#f5f6f8;
  
 
  padding:30px;
}

.container{
  max-width:900px;
  margin:30px auto;   /* centers horizontally only */
  padding:20px;
  background:white;
  border-radius:10px;
}

.folder-title{
 border: 1px, solid, rgb(0, 0, 0);
  padding:12px;
  cursor:pointer;
  font-weight:bold;
  margin-bottom: 8px;
}

.folder-content{
  margin-left:20px;
  display:none;
}

.note{
  display:flex;
  justify-content:space-between;
  padding:10px;
  background:hsl(214, 82%, 82%);
  border-radius:6px;
  margin:5px 0;
  border: 1px, solid, rgb(0, 0, 0);
}

button{
  padding:5px 10px;
  cursor:pointer;
}

iframe{
  width:100%;
  height:400px;
  margin-top:20px;
  border:none;
}
